body {


margin: 0;
padding: 0;
font-family: sans-serif;
background-position: relative;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-image: url(/home.jpg);
 background-color:black;
} 


h1{
  /* margin-top: 30%; */
  font-size: 8.5em;
  position: center;
  color: whitesmoke;
  text-align: center;
}
Link{
  color:white;
  text-decoration: underline;
}

a:hover {
  background-color:orangered;
  color:red;
}
a:visited {
  color:white;
}

.courts{
  color:white;
  height:800px;
  margin-left: 10px;
}